<a href="https://rickandmortyapi.com/" target="_blank" class="imgLink">
  <img src="./assets/img/rick-and-morty-top-banner.png" alt="Imagem da serie" class="mb-4 border border-3 rounded" style="width: 100%;">
</a>

<div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="col">
    <div class="card">
      <img src="./assets/img/rickMortyCard.jpg" class="card-img-top" alt="Personagens">
      <div class="card-body">
        <h5 class="card-title">Personagens</h5>
        <a routerLink="/listCharacter" class="btn btn-primary">Veja os personagens</a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="./assets/img/rickMortyCard.jpg" class="card-img-top" alt="Personagens">
      <div class="card-body">
        <h5 class="card-title">Localizações</h5>
        <a routerLink="/listLocation" class="btn btn-primary">Veja as Localizações</a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="./assets/img/rickMortyCard.jpg" class="card-img-top" alt="Personagens">
      <div class="card-body">
        <h5 class="card-title">Episódios</h5>
        <a routerLink="/listEpisode" class="btn btn-primary">Veja os Episódios</a>
      </div>
    </div>
  </div>
</div>
